<div class="row">
	<div class="col-sm-12">
		<h1>Loss of Pay Reports</h1>
	</div>

    <form role="form" action="<%=admin_reports_path(report_type: 'lop')%>" method="POST">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="col-sm-3 form-group">
          Employee Code:
          <input type="text" class="form-control" name="ecode" value="<%=params[:ecode] %>"/>
          <span class="error help-block"><%=@report.errors[:ecode].join(",") if @report && @report.errors[:ecode]%></span>
        </div>
        <div class="col-sm-3 form-group">
            Project
          <%=select_tag 'project_id', options_for_select(Project.all.collect{|p| [p.name, p.id ]},  params[:project_id]), { :prompt => "Select", class: 'form-control'}%>
          <span class="error help-block"><%=@report.errors[:project_id].join(",") if @report && @report.errors[:project_id]%></span>
        </div>
        <div class="col-sm-3 form-group">
          From(Date)
          <%=from_select_box%>
          <span class="error help-block"><%=@report.errors[:from_date].join(",") if @report && @report.errors[:from_date]%></span>
        </div>
      <div class="col-sm-3 form-group">
        To(Date)
        <%=to_select_box%>
        <span class="error help-block"><%=@report.errors[:to_date].join(",") if @report && @report.errors[:to_date]%></span>
      </div>
      <div class="col-sm-12">
        <span class="help-block error"><%=@report.errors[:base].join(",") if @report && @report.errors[:base]%></span>
      </div>
      <div class="col-sm-12 form-group" style="margin-top:20px;">
        <input type="submit" value="Download CSV"/>
      </div>

    </form>
</div>