<div class="row">
	<div class="col-sm-12">
		<h3 class='pull-left col-sm-2'>Export Users</h3>
		<div class='col-sm-6 pull-left'>
			<%=form_tag export_admin_users_path do %>
				<%=submit_tag "Export"%>
			<% end %>
		</div>
		<div class='col-sm-12'>
			<table class='table table-bordered'>
				<thead>
					<% User::EXPORT_FIELDS.each do |field|%>
						<th><%=field.gsub("_", " ").capitalize%></th>
					<% end %>
				</thead>
				<% @users.each do |user|%>
				<tr>
					<td><%= user.username %></td>		
					<td><%= user.ecode %></td>
					<td><%= user.name %></td>
					<td><%= user.date_of_joining ? user.date_of_joining.strftime("%D") : '' %></td>
					<td><%= user.bu %></td>
					<td><%= user.email %></td>
					<td><%= user.current_contact %></td>
					<td><%= user.emergency_contact_no %></td>
					<td><%= user.date_of_birth ? user.date_of_birth.strftime("%D") : '' %></td>
					<td><%= user.blood_group %></td>
					<td><%= user.marriage_anniv_date ? user.marriage_anniv_date.strftime("%D") : '' %></td>
					<td><%= user.pan %></td>
					<td><%= user.card_no %></td>
					<td><%= user.designation.try(:name) %></td>
					<td><%= user.grade.try(:name) %></td>
					<td><%= user.manager ? user.manager.ecode : '' %></td>
					<td><%= user.confirmation.try(:name) %></td>
					<td><%= user.gender.try(:name) %></td>
					<td><%= user.marital_status.try(:name) %></td>
					<td><%= user.lta_option.try(:name) %></td>
					<td><%= user.projects.join(",") %></td>
					<td><%= user.role %></td>
					<td><%= user.emp_type.try(:name) %></td>
					<td><%= user.contractual_ecode %></td>
					<td><%= user.earned_leaves.count %></td>
					<td><%= user.casual_leaves.count %></td>
					<td><%= user.sick_leaves.count %></td>
					<td><%= user.prior_exp %></td>
					<td><%= user.calculate_trantor_exp %></td>
					<td><%= user.calculate_total_exp %></td>
					<td><%= user.status.try(:name) %></td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>